<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Adicionar Marmita</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const marmitaTipoField = document.getElementById('id_marmita_tipo');
            const base1Field = document.getElementById('id_marmita_base1').closest('p');
            const base2Field = document.getElementById('id_marmita_base2').closest('p');
            const carne1Field = document.getElementById('id_marmita_carne1').closest('p');
            const carne2Field = document.getElementById('id_marmita_carne2').closest('p');
            const saladaField = document.getElementById('id_marmita_salada').closest('p');
            const extraField = document.getElementById('id_marmita_extra').closest('p');

            const fields = [base1Field, base2Field, carne1Field, carne2Field, saladaField, extraField];

            function hideAllFields() {
                fields.forEach(field => field.style.display = 'none');
            }

            function showFieldsForTipo(tipo) {
                hideAllFields();
                if (tipo === 'P') {
                    base1Field.style.display = 'flex';
                    base2Field.style.display = 'flex';
                    carne1Field.style.display = 'flex';
                    saladaField.style.display = 'flex';
                } else if (tipo === 'M') {
                    base1Field.style.display = 'flex';
                    base2Field.style.display = 'flex';
                    carne1Field.style.display = 'flex';
                    carne2Field.style.display = 'flex';
                    saladaField.style.display = 'flex';
                } else if (tipo === 'G') {
                    base1Field.style.display = 'flex';
                    base2Field.style.display = 'flex';
                    carne1Field.style.display = 'flex';
                    carne2Field.style.display = 'flex';
                    saladaField.style.display = 'flex';
                    extraField.style.display = 'flex';
                }
            }

            marmitaTipoField.addEventListener('change', function () {
                showFieldsForTipo(this.value);
            });

            hideAllFields();
        });
    </script>
</head>
<body style="background: linear-gradient( 169deg, #fff 3.66%, #fbebea 29.71%,#fbebea 73.03%, #f0b6a7 98.43% ); min-height: 97dvh; justify-content: center; display: flex; align-items: center; font-family: Montserrat, sans-serif; color: #000;">
    <section style="background-color: #fff; max-width: 300px; border-radius: 10px; display: flex; flex-direction: column; gap: 25px; padding: 25px; margin: 0 auto; justify-content: center; align-items: center;">
        <h1 style="color: #f0b6a7; margin: 0; font-size: 28px; font-family: Carter One, system-ui;">EZLunch</h1>
        <h2>Adicionar Marmita ao Carrinho</h2>

        {% include "pedidos/messages.html" %}

        <form method="post">
            {% csrf_token %}
            <ul style="display: flex; flex-direction: column; gap: 10px; list-style-type: none; margin: 0; padding: 0;">
                <p style="margin: 0;" >{{ form.marmita_tipo.label_tag }} {{ form.marmita_tipo }}</p>
                <p style="margin: 0;" >{{ form.item_quantidade.label_tag }} {{ form.item_quantidade }}</p>
                <p style="margin: 0;" >{{ form.marmita_base1.label_tag }} {{ form.marmita_base1 }}</p>
                <p style="margin: 0;" >{{ form.marmita_base2.label_tag }} {{ form.marmita_base2 }}</p>
                <p style="margin: 0;" >{{ form.marmita_carne1.label_tag }} {{ form.marmita_carne1 }}</p>
                <p style="margin: 0;" >{{ form.marmita_carne2.label_tag }} {{ form.marmita_carne2 }}</p>
                <p style="margin: 0;" >{{ form.marmita_salada.label_tag }} {{ form.marmita_salada }}</p>
                <p style="margin: 0;" >{{ form.marmita_extra.label_tag }} {{ form.marmita_extra }}</p>
            <button style="background-color: #f0b6a7; color: #fff; font-size: 16px; border: none; border-radius: 5px; cursor: pointer; height: 40px; width: 305px;" type="submit">Adicionar ao Carrinho</button>
            </ul>
        </form>
        <a style="align-items: center; background-color: #fff; border: 1px solid #f0b6a7; border-radius: 5px; color: #f0b6a7; cursor: pointer; display: flex; font-size: 16px; justify-content: center; text-decoration: none; height: 40px; width: 305px;"
        href="{% url 'pedidos:visualizar-carrinho' %}">Visualizar Carrinho</a>
        <a style="align-items: center; background-color: #fff; border: 1px solid #f0b6a7; border-radius: 5px; color: #f0b6a7; cursor: pointer; display: flex; font-size: 16px; justify-content: center; text-decoration: none; height: 40px; width: 305px;"
        href="{% url 'pedidos:index' %}">Retornar para a Home</a>
    </section>
</body>
</html>
