<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Finalizar Pedido</title>
</head>
<body>
    <h1>Finalizar Pedido</h1>

    {% include "pedidos/messages.html" %}

    {% if pedido %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Finalizar Pedido</button>
        </form>
        <p><a href="{% url 'pedidos:visualizar-carrinho' %}">Voltar ao Carrinho</a></p>
    {% else %}
        <p>Você não tem nenhum pedido em aberto</p>
        <p><a href="{% url 'pedidos:adicionar-marmita' %}">Adicionar Marmita ao carrinho</a></p>
    {% endif %}

    <p><a href="{% url 'pedidos:index' %}">Retornar para a Home</a></p>
</body>
</html>

