<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    {% include "pedidos/messages.html" %}

    {% if latest_pedido_list %}
    <ul>
        {% for pedido in latest_pedido_list %}
            <table>
                <tr>
                <th>ID do Pedido</th>
                <th>Data de inclusão</th>
                <th>Status</th>
                <th>Distancia</th>
                <th>Valor do Pedido</th>
                <th>Valor do Frete</th>
                <th>VALOR TOTAL</th>
                </tr>
                <tr>
                    <td>{{pedido.id}}</td>
                    <td>{{pedido.data_inclusao}}</td>
                    <td>{{pedido.get_status_display}}</td>
                    <td>{{pedido.distancia}}</td>
                    <td>{{pedido.vl_pedido}}</td>
                    <td>{{pedido.vl_frete}}</td>
                    <td>{% with total=pedido.vl_pedido|add:pedido.vl_frete %}
                            {{ total|floatformat:2 }}
                        {% endwith %}
                    </td>
                    <td>
                        {% if pedido.status == 'A'%}
                            <a href="{% url 'pedidos:visualizar-carrinho' %}">Detalhes do pedido</a>
                        {% else %}
                            <a href="{% url 'pedidos:detail' pedido.id %}">Detalhes do pedido</a>
                        {% endif %}
                    </td>
                    {% if pedido.status == 'P' %}
                        <td>
                            <form method="post" action="{% url 'pedidos:cancelar-pedido' pedido.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" onclick="return confirm('Tem certeza de que deseja cancelar este pedido?');">Cancelar Pedido</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            </table>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nenhum pedido cadastrado</p>
    {% endif %}

    <a href="{% url 'pedidos:adicionar-marmita' %}">Novo Pedido</a>
</body>
</html>