{% if latest_pedido_list %}
    <ul>
    {% for pedido in latest_pedido_list %}
        <table>
            <tr>
              <th>ID do Pedido</th>
              <th>Data de inclusão</th>
              <th>Status</th>
              <th>Distancia</th>
              <th>Valor do Pedido</th>
              <th>Valor do Frete</th>
              <th>VALOR TOTAL</th>
            </tr>
            <tr>
                <td>{{pedido.id}}</td>
                <td>{{pedido.data_inclusao}}</td>
                <td>{{pedido.get_status_display}}</td>
                <td>{{pedido.distancia}}</td>
                <td>{{pedido.vl_pedido}}</td>
                <td>{{pedido.vl_frete}}</td>
                <td>{% with total=pedido.vl_pedido|add:pedido.vl_frete %}
                        {{ total }}
                    {% endwith %}
                </td>
            </tr>
        </table>
        {% comment %} <table>
            <tr>
                <th>Quantidade</th>
                <th>Tamanho</th>
            </tr>
            {% for item in pedido.item_set.all %}
            <tr>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.marmita.get_tamanho_display }}</td>
            </tr>
            {% endfor %}
        </table> {% endcomment %}
        {% comment %} <li><a href="{% url 'Pedido:detail' pedido.id %}">{{ pedido.pedido_text }}</a></li> {% endcomment %}
    {% endfor %}
    </ul>
    {% comment %} <div class="pagination">
        <span class="step-links">
            {% if latest_pedido_list.has_previous %}
                <a href="?page=1">&laquo; primeiro</a>
                <a href="?page={{ latest_pedido_list.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ latest_pedido_list.number }} de {{ latest_pedido_list.paginator.num_pages }}.
            </span>

            {% if latest_pedido_list.has_next %}
                <a href="?page={{ latest_pedido_list.next_page_number }}">próximo</a>
                <a href="?page={{ latest_pedido_list.paginator.num_pages }}">último &raquo;</a>
            {% endif %}
        </span>
    </div> {% endcomment %}
{% else %}
    <p>No Pedido are available.</p>
    <table>
        <tr>
          <th>ID do Pedido</th>
          <th>Data de inclusão</th>
          <th>Status</th>
          <th>Distancia</th>
          <th>Valor do Pedido</th>
          <th>Valor do Frete</th>
          <th>VALOR TOTAL</th>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
{% endif %}